.experiment {
    margin-top: 25px;
}

h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}

table, th, td {
    border: 1.5px solid #5f5f5f;
    text-align: center;
    border-collapse: collapse;
}

table.parameters {
    width: 40%;
    height: 155px;
}

table th {
    background-color: teal;
    color: wheat;
    font-weight: normal;
}

table.parameters th {
    height: 30px;
}

table tr {
    height: 35px;
}

table td:nth-child(even) {
    font-weight: bold;
    width: 30%;
}

table tr:nth-child(even) {
    background-color: #F9F9F9;
}

.simulate-btn {
    margin: 20px 0px;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to top, teal, #15b9b9);
    outline: none;
    color: white;
    font-weight: bold;
}

.simulate-btn:hover {
    cursor: pointer;
    background-image: linear-gradient(to top, #038f8f, #15b9b9);
}

.simulate-btn:active {
    background-image: linear-gradient(to top, #0b8383, #10acac);
}

.simulation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 0px;
}

.simulation .left {
    width: 40%;
}

.simulation .right {
    width: 58%;
    display: flex;
    padding: 1px;
    flex-direction: column;
    justify-content: space-between;
}

.simulation table {
    width: 100%;
}

.simulation table th {
    height: 25px;
}

.simulation table td:nth-child(even) {
    width: 30%;
}

.simulation .border {
    background-color: wheat;
}

.simulation .loader {
    height: 50px;
}

.simulation .loading {
  align-content: center;
  border: 2px solid teal; /* Light grey */
  border-top: 2px solid white; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.6s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}