<div>
    <h3>About <i>{{ experimentName }}</i> program</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Distinctio voluptatibus ab ut. Dicta assumenda voluptas nisi 
        sit cumque blanditiis ea deleniti amet fuga, eos exercitationem est incidunt expedita quidem corrupti?
    </p>
    <h4>Program Features</h4>
    <div>
        <label>Data Set</label>
        <select (change)="onChange($event.target.value)">
            <option *ngFor="let dataset of datasets" [value]="dataset">{{ dataset }}</option>
        </select>
    </div>
    <p>
        {{ Features }}
    </p>
</div>