<div>
    <h3>About <i>{{ experimentName }}</i> program</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Distinctio voluptatibus ab ut. Dicta assumenda voluptas nisi 
        sit cumque blanditiis ea deleniti amet fuga, eos exercitationem est incidunt expedita quidem corrupti?
    </p>
    <div class="dataset">
        <label>Data Set</label>
        <a *ngFor="let dataset of datasets" [routerLink]="dataset | lowercase">{{ dataset }}</a>
    </div>
    <hr />
    <router-outlet></router-outlet> 
</div>
