* {
    color:  #5f5f5f;
}

div {
    margin-top: 10px;
    margin-bottom: 30px;
}

table, th, td {
    border: 1.5px solid #5f5f5f;
    border-collapse: collapse;
    margin-bottom: 25px;
    font-family: monospace;
}

table td {
    padding: 5px;
}

table th {
    background-color: teal;
    color: wheat;
    font-weight: normal;
}

table tr {
    height: 25px;
    width: 100%;
}

table tr:nth-child(even) {
    background-color: #F9F9F9;
}


ul li {
    margin: 10px;
}

.name {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}